/*
 * Comments are written as C++ style. 
 */
html {
    overflow-y: scroll;
}

body {
    margin: 8px auto;
    background: rgb(198, 156, 233);
    width: 700px;
}
.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
