
@{
    ViewData["Title"] = "About page";
}

<div class="text-center">
    <h1 class="display-4">About my Ninja</h1>
    <p>During this exercise I was given the task to make a web application while using the Model, View, Controller
    with ASP.NET Core written in C#. MVC is a framework that I am implemneting in this web page and make 
    a simple page that will read data from a JSON file and print it out on the home page whoel using 
    a Model class together with a Service class in order to read the JSON file. Then the controller will
    be used to will provide a json response for all the accouts. </p>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
